body {
    background: url(https://s2.ax1x.com/2019/03/14/AAx53F.jpg)  no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: padding-box;
    margin: 30px;
}